<!doctype html>
<html>
<head>
<title>Raspberry + Pingo + Flask</title>
</head>
<body>
    <form action="/buzzer" method="post">
        <p><input type="submit" value="Buzzer"/></p>
    </form>

    <form action="/led" method="post">
        <p><input type="submit" value="Led"/></p>
    </form>

    <form action="/rgb/red" method="post">
        <p><input type="submit" value="RGB Red Led"/></p>
    </form>

    <form action="/rgb/green" method="post">
        <p><input type="submit" value="RGB Green Led"/></p>
    </form>

    <form action="/rgb/blue" method="post">
        <p><input type="submit" value="RGB Blue Led"/></p>
    </form>
</body>
</html>
